@using MeetingWebsite.Infrastracture.Models.Identity
@model AppUser

<div class="bg-primary text-white m-2 p-2">Homepage only for authenticated users</div>

<p>firstname: @Model.UserData.Firstname</p>
<p>secondname: @Model.UserData.Secondname</p>
<p>interests:</p>
<ul>
    @foreach(var interest in Model.UserData.Interests ?? Enumerable.Empty<Interest>())
    {
        <li>@interest.InterestType</li>
    }
</ul>
<p>friends:</p>
<ul>
    @foreach(var friend in Model.UserData.Friends ?? Enumerable.Empty<User>())
    {
        <li>@friend.Firstname @friend.Secondname</li>
    }
</ul>
<p>gender: @Model.UserData.Gender</p>
<p>user image: @Model.UserData.ImageLink</p>
<img src="@Model.UserData.ImageLink" />