@model AccountViewModel

@{
    Layout = "_MeetingLayout";
    ReturnPathHelper.PushNewPage(TempData, Context);
}

<partial name="_Validation" />
<div class="col-md-8 col-sm-12 offset-sm-0">
    <div class="main-block h-100">        
        <div class="container">
            <form asp-action="EditAccount" id="editForm" enctype="multipart/form-data">
                <div class="row"> 
                    <input type="hidden" asp-for="UserData.ImageId" />
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <div class="mb-3">
                            <partial name="Inputs/UsernameInputRemoteValidated" model="Model" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/OldPasswordInput" model="Model" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/NewPasswordInput" model="Model" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/FirstnameInput" for="UserData" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/SecondnameInput" for="UserData" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/BirthdayInput" for="UserData" />
                        </div>
                        <div class="mb-3">
                            <partial name="Inputs/GenderInput" for="UserData" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="mb-3">
                            <partial name="Inputs/ImageInput" model="Model"/>
                        </div>
                        <div class="mb-3">
                            @await Component.InvokeAsync("InterestsList", new
                                {
                                    checkedInterestsIds = Model.CheckInterestsIds
                                })
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-4">
                <div class="col-4 d-grid">
                    <button type="submit" form="editForm" class="btn btn-primary btn-sm">
                        Submit
                    </button>
                </div>
                <div class="col-4">
                    <partial name="Buttons/DeleteAccountButton" />
                </div>                
                <div class="col-4">
                    <partial name="Buttons/GoBackButton" />
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="col-md-4 display-sm-none">
    <div class="main-block h-100 px-2">
        <div class="overflow-y-auto" style="max-height: 40rem;">
            <h5 class="text-center mb-4">Friendship requests</h5>
            <div class="container-fluid" id="friendship-requests-container">
                @* @foreach(User sender in Model.Senders ?? [])
                {
                    <div class="row main-block py-1 px-0 mb-3" style="background-color: #ebeced">
                        <div class="col overflow-auto">
                            <a asp-controller="Meeting" asp-action="GetUser"
                                    asp-route-id="@sender.UserId" class="navbar-brand d-flex">
                                <img src=@(sender.ImageLink ?? "/img/avatar.png")
                                     width="40" height="40"
                                     class="d-inline-block align-text-top object-fit-cover rounded-circle mt-2">
                                <div class="d-grid">
                                    <div class="ms-2 fs-5 overflow-ellipsis">
                                        @sender.Firstname @sender.Secondname
                                    </div>
                                    <div class="ms-2 fs-6 text-body-secondary">
                                        @sender.Birthday.GetFullYears() y.o
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-auto d-flex mt-3 px-0">
                            @{ ViewBag.SignatureRequeired = false; }
                            <partial name="Buttons/AcceptRejectFriendshipRequestButton" model="@sender" />
                        </div>
                    </div>
                } *@
            </div>
        </div>
    </div>
</div>

<script src="~/js/friendshipRequests.js"></script>